[Unit]
Description=Minecraft Controller Discord Bot
After=network.target

[Service]
Type=simple
User=github-actions
WorkingDirectory=/home/github-actions/apps/minecraft-controller
EnvironmentFile=/home/github-actions/apps/minecraft-controller/.env
ExecStart=/home/github-actions/apps/minecraft-controller/minecraft-controller
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
